---
---
{% include bootstrap.css %}
{% include sourcecode.css %}

.post code {
	background-color:#eee;
	border:1px solid #ddd;
	padding:5px;
	line-height:1.5;
}

.post pre code {
	display:block;
	padding-left:15px;
}
